[Service]
ExecStart=/usr/bin/minidlnad  -R -f /etc/minidlna/minidlna.conf -P /usr/local/var/run/minidlna/minidlna.pid
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=minidlnad
User=pi
Group=pi
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
